<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sgj.ayibang">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 操作闪光灯 -->
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- 震动 -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- 接收、读取 短信 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0033b40c5dbac721865ef3cce2d2f9c2" />
        <!-- 定位需要的服务 -->
        <service android:name="com.amap.api.location.APSService" />

        <activity
            android:name=".FirstActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".GuideActivity"></activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".CardActivity"></activity>
        <activity android:name=".ServiceActivity"></activity>
        <activity android:name=".ScrollGridActivity"></activity>
        <activity android:name=".AdvertiseActivity"
            android:theme="@style/ActivityDialog"></activity>

        <activity android:name=".CityActivity"></activity>
        <activity android:name=".NotificationActivity"/>
        <activity android:name=".SettingActivity"/>
        <activity android:name=".DetailsActivity"/>
        <activity android:name=".ImageViewActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".fragment.TouTiaoActivity"/>

    </application>

</manifest>
